@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat';
    font-size: 1rem;
}

body{
    background-color: #dbdbdb;
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    text-align: center;
    background-color: #f0efef;
}

h1{
    margin-top: 12px;
    cursor: pointer;
}

header img{
    cursor: pointer;
    max-width: 100%;
    width: 100px;
    height: 100px;
}

.container{
    margin-top: 2em;
}

.divListacard{
    background-color: #fff;
}

#preco ul{
    padding-left: 30px;
}

li{
    display: flex;
    justify-content: space-between;
}

.liTotal{
    margin: 5px 20px;
    font-size: 1.2rem;
    list-style-type: none;
}

li .btn{
    align-items: stretch;
    padding: 5px 20px
}

.l1{
    display: flex;
    /* background-color: red; */
    justify-content: space-between;
    padding-bottom: 10px;
    width: 80%;
    margin-left: 30px;
}
.l2{
    font-size: 1.1rem;
}
.l1 .x{
    /* width: 70px; */
}