@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat';
}

body{
    margin: 0;
    padding: 0%;
    background-color: #dbdbdb;
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    text-align: center;
    background-color: #f0efef;
}
h1{
    margin-top: 12px;
    cursor: pointer;
}

header img{
    cursor: pointer;
    max-width: 100%;
    width: 100px;
    height: 100px;
}

.container{
    display: flex;
    flex-direction: column;
    margin-top: 2%;
    padding: 2%;
    /* background-color: #00c3ff; */
}