*{
    text-align: center;
    font-size: 25px;
}

body{
    background-color: #D6D58E;
    margin: 0;
    overflow: hidden;
}

h1{
    font-family: 'Montserrat';
    font-weight: 800px;
    font-size: 25px;
    font-style: italic;
    color: #042940
}

.primeiro {
    font-family: 'Ubuntu Condensed', sans-serif;
    color: #C2E0BC;
    background-color:  #005C53;
}

.segundo { 
    font-family: 'Montserrat';
    color: #042940;
    background-color: #9FC131;
}

.terceiro { 
    color: #005C53;
    background-color: #DBF227;
    font-family: 'Shadows Into Light Two', cursive;
}
footer img{
    width: 100%;
    margin-top: 200px;
    background-size:cover;

}