@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');

body{
    margin-top: 3%;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(./img/hh.png);
    background-size: cover;
    background-color: #121212;
    color: white;
    font-family: 'Montserrat';
}

#form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2%;
    width: 80%;
}

#cadastrados{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2%;
    width: 80%;
}

input[type="text"]{
    width: 70%;
    height: 40px;
    outline: none;
    border: none;
    margin: 1% 0;
    background-color: #D9D9D9;
    
}

input[type="date"]{
    width: 70%;
    height: 40px;
    outline: none;
    border: none;
    margin: 1% 0;
    background-color: #D9D9D9;
}

input[type="text"]::placeholder{
    color: #b9b9b9;
}

input[type="text"]:focus{
    background-color: white;
}

#excluir, #incluir{
    padding: 1.5%;
    margin-top: 1%;
    background-color: gray;
    color: white;
    border: none;
    font-family: 'Montserrat';
}

#excluir:hover, #incluir:hover{
    cursor: pointer;
    background-color: #b9b9b9;
}

select{
    width: 70%;
    padding: 1%;
    margin: 1% 0;
    background-color: #d9d9d9;
    border: none;
    color: #121212;
}

option{
    color: #121212;
}

ul{
    list-style-type: decimal;
}
h2, #excluir{
    display: none;
}