.container{
    padding: 2em;
}
body{
    background-color: #2a2929;
}
header{
    padding-top: 10px;
    background-color: white;
    height: 100%;
    width: 100%;
}
header img{
    height: 50px;
    width: 100px;
    margin-left: 15%;
    margin-top: -5%;
    position: absolute;
}
a{
    font-family: 'Montserrat', sans-serif;
}
button{
    margin-left: 2%;
    
}
.button{
    text-align: right;
    margin-right: 20%;
    margin-top: 3%;
}
