@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

*{
    margin: 0;
    padding: 0;
}
    /* Eu coloquei um template de confetti no js quando clica no botão certo, mas só funciona no Go live :c */
body{
    background-color: #121212;
    background-image: url(./background.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

h1{
    position: relative;
    text-align: center;
    color: #E1E1E1;
    font-family: 'Montserrat';
    font-weight: 700;
    margin-top: 3vh;
    font-size: 20px;
}
.tudo{
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

button{
    background: #1E1E1E;
    color: #E1E1E1;
    border: none;
    border-radius: 12px;
    padding: 2% 4%;
    font-family: 'Montserrat', sans-serif;
    cursor: pointer;
    font-weight: 300;
    margin-right: 3%;
}

button:hover{
    box-shadow: 1px 1px 3px #dadce046 ;
}

@media all and (max-width: 430px){
    .tudo{
    flex-direction: column;
    }

    button{
        margin-top: 15%;
    }
}