*{
    margin: 0;
    padding: 0;
}
body{
    background-image: linear-gradient(to right, #121212, #302e2e);
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
}
.b{
    background: #807e7e;
    color: #E1E1E1;
    border: none;
    font-weight: bold;
    border-radius: 12px;
    padding: 10px 30px;
    font-family: Arial;
    font-size: 17px;
    cursor: pointer;
    margin-right: 30px;
}
.b:hover{
    background: #ada9a9;
}